
{% extends "blog/base.html" %}

{% load static wagtailcore_tags wagtailimages_tags blogapp_tags el_pagination_tags wagtailmd %}

{% block content %}

    <div class="container">
      <div class="row">
 

    {% if search_term %}
      <header class="page-header">
          <h3 class="page-title">Search Results for <span>{{ search_type }}: {{ search_term }}</span></h3>
      </header>
    {% endif %}

    {% paginate 5 posts %}
    {% for post in posts %}
      <!-- Blog Post -->
      <div class="card mb-9">

        {% if post.header_image %}
            {% image post.header_image original as header_image %}
            <a href="{% post_date_url post blog_page %}">
              <img src="{{ header_image.url }}" class="card-img-top" ></img>
            </a>
        {% endif %}

        <div class="card-body">
          <h2 class="card-title">
            <a href="{% post_date_url post blog_page %}">{{ post.title }}</a>
          </h2>
          <p class="card-text">
            {% if post.excerpt %}
                {{ post.excerpt|markdown|safe }}
            {% else %}
                {{ post.body|safe|truncatewords_html:70 }}
            {% endif %}
          </p>
        <div class="text-center ">
          <a class="" href="{% post_date_url post blog_page %}">Continue reading »</a>
       </div>

        </div>
        <div class="card-footer text-muted">
            Posted on {{ post.date }}
        </div>
      </div>


    {% endfor %}


      </div>
      </div>


    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-9">
      {% show_pages %}
    </ul>

{% endblock %}
