{% extends "blog/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags blogapp_tags wagtailmd%}

{% block title %}{{ self.title }} | {{ blog_page.title }}{% endblock title %}
{% block meta_title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock meta_title %}
{% block meta_description %}{% if self.search_description %}{{ self.search_description }}{% else %}{{ self.body|striptags|truncatewords:20 }}{% endif %}{% endblock meta_description %}
{% block canonical %}{% canonical_url self%}{% endblock canonical %}

{% block content %}


<div class="container main-content-area mb-12">
<div class="row ">
<div class="main-content-inner col-sm-12 col-md-12 col-md-offset-1">
<div id="primary" class="content-area">

<article id="post-31" class="post type-post status-publish format-standard has-post-thumbnail">

    {% if post.header_image %}
        {% image post.header_image original as header_image %}
        <img src="{{ header_image.url }}" class="img-fluid rounded single-featured wp-post-image img-responsive" ></img>
    {% endif %}

  <div class="post-inner-content">
  <header class="entry-header page-header">
    <h1 class="entry-title">{{ post.title }}</h1>

    <div class="">
  Last updated on
    <time class="entry-date">{{post.date}}</time>
  by
    <span class="author vcard">
    {{post.owner}}
    </span>
    </div>
  </header>

 <hr>

 <div class="entry-content">
     {{ post.body }}
 </div>

 <div class="entry-content">
     {{ post.body2 | markdown | safe }}
 </div>
 
 
    <div>
     {% show_comments %}
    </div>
</div>
</article>
</div>
</div>
</div>
</div>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [['$','$']],
          displayMath: [['$$','$$']] ,
          processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
    </script>

    <script type="text/javascript"
       src="//cdn.mathjax.org/mathjax/latest/MathJax.js">
    </script>

{% endblock %}
